<!DOCTYPE html>
<html ng-app="sussol">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <title>Sussolvents</title>
    <link rel="icon" href="/Content/Images/headericon.png"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--Angular scripts-->
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-messages.min.js"></script>
    
    <script type="text/javascript" src="~/Scripts/angucomplete-alt.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-bootstrap-switch.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    
    <!--Controllers-->
    <script type="text/javascript" src="~/Scripts/Controllers/LoginController.js"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/AnalysisOverviewController.js"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/OrganisationController.js"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/AnalysisController.js"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/UploadController.js"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/AccountController.js"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/AccountHomeController.js"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/AdminController.js"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/app.js"></script>
    
</head>
<body >
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" id="hplogo" href="#" ng-click="toHome()"><img src="~/Content/Images/logonegative.png" alt="logo"/></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav" id="navbaar">
                    <li>
                        <a class="page-scroll" href="#" ng-click="scrollPage('#section-0')">Why</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#" ng-click="scrollPage('#section-2')">Algorithms</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#" ng-click="scrollPage('#section-3')">How it works</a>
                    </li>
                    <li>
                        <a class="page-scroll" data-toggle="modal" data-target="#ml-modal" href="#">Machine Learning</a>
                    </li>



                </ul>
                <ul class="nav navbar-nav navbar-right">
                    
                    <li>
                        <a href="#" data-toggle="modal" data-target="#login-modal" ng-if="username===undefined">Log in</a>
                        <a href="/account/{{userId}}" ng-if="username!==undefined && admin === 'false'">My Dashboard</a>
                        <a href="/account/admin" ng-if="admin === 'true'">Admin</a>
                        
                    </li>
                    <li ng-controller="LoginController as login">
                         <a href="home.html" ng-click="logOut()"  ng-if="username!==undefined">Log out</a>
                    </li>

                    
                </ul>
            </div>
        </div>
    
    </nav>
    
        
        @RenderBody()
    <div class="second-footer" ng-if="footer">
        <div class="footer-right">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
       
        
        <p class="copyright-small">
            &copy; 2016 Sustainable Solvents. <br>All Rights Reserved. <br>

        </p>
    </div>
    

<div ng-controller="LoginController as login" class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="login-dialog">
            <div class="loginmodal-container">
                <i class="fa fa-times closecross" id="closecross" data-dismiss="modal" aria-hidden="true"></i>
                <h1>Login to your account</h1><br>
                <form id="logform">
                    {{errorlogin}}
                    <input type="text" name="user" placeholder="Username" ng-model="login.email" required>
                    <input type="password" name="pass" placeholder="Password" ng-model="login.password" required>
                    <button type="submit" name="login" class="small-button" style="width: 100%; padding: 10px; margin: 12px 0 15px 0" value="Login" ng-click="logIn(login.email, login.password)" id="load" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw'></i>   Logging in ...">Log in</button>
                </form>

                <div class="login-help text-center">
                    <a href="/register" ng-click="closeModal()">Register</a> - <a href="#" ng-click="closeModal()">Forgot Password</a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="modal fade" id="ml-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        
            <div class="loginmodal-container ml-modal-container">
                <i class="fa fa-times closecross" id="closecross" data-dismiss="modal" aria-hidden="true"></i>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="margin-top-0 wow fadeInDown">Machine Learning</h1>
                        <hr class="primary">
                    </div>
                </div>
                <div class="ml-container">
                    <img src="~/Content/Images/mlchain.PNG"/>
                    <p style="margin-top: 30px;">
                       
                    </p>
                    <p>
                        Machine  Learning  is a  subfield  of  Artificial Intelligence  in  which  a  knowledge model is  learned  from training data. After the learning process, the model can be queried to get information from it. 
                    </p>
                    <p>
                        Many machine learning algorithms have been developed over the last 40 years. There are roughly 2 main learning types : supervised and unsupervised learning. In supervised learning, the data that the algorithm must process are labelled with the class to which they belong. After training, new data are offered   to   the   model,   without   a   label.   The   model   can   then   classify   the   unknown   data.   In unsupervised learning, the data do not have a label. These algorithms cluster the data into groups or clusters  that  contain  comparable  instances.  Unsupervised  algorithms  are  based  on  mathematical, statistical  and  neural  techniques.  The  resulting  models  can  be  used  for  gaining  insight  in  the  data, classification and prediction. 
                    </p>
                    <p>
                        In the Sussol project, we choose for unsupervised learning. We want to let the software explore the data without putting too much information into the data representation.
                    </p>
                    <p>
                        As  can  be  seen  in  the  picture  above,  the  Machine  Learning  chain  is rather  complex.  The  flow  is determined by the data. 80 % of the data are used for the training process, 20 % for validation of the resulting model. After learning, new data can be offered for classification and prediction. 
                    </p>
                </div>
                
            

        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script>
    new WOW().init();
</script>



<div class="overlay animationIf" ng-if="loadingView">
    <div class="wrapper">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>

        </div>
        <h2> Loading</h2>
    </div>

</div>
<div class="overlay-dark animationIf" ng-if="loadingPdf">
    <div class="wrapper-pdf">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
           
            </div>
        <h3>Generating PDF file, this can take some minutes

        </h3>
        <div id="progresspdf" class="tiny-green"><div></div></div>
        </div>

    </div>    
</body>
</html>
